<% content_for :page_title, "Editing Service" %>
<div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
  <div class="flex justify-end">
    <%= link_to @service, class: "ml-2 rounded-full p-2 bg-green-100 text-white font-small" do%>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg> 
    <%end%>
    <%= link_to services_path, class: "ml-2 rounded-full p-2 bg-red-100 text-white font-small" do%>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
      </svg>
    <%end%>    
  </div>
  <div>
    <%= render "form", service: @service %>
  </div>
</div>
