<% content_for :page_title, "Editing Service" %>
<div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
  
  <%= render "form", service: @service %>
  <%= link_to "Show this service", @service, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to services", services_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

</div>
