<div class="mx-auto max-w-2xl py-16 text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Got New Project?</h2>
    <p class="mt-2 mb-6 text-lg leading-8 text-gray-600">With our expert guidance, we facilitate the growth of your business.</p>
    <%= link_to quote_index_path, class:"text-white bg-blue-800 hover:bg-secondary-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-small rounded-full text-sm px-6 py-2 text-center mr-3 md:mr-0" do %>Request a Quote<%end%>
</div>