<div class="relative isolate pt-5 px-5 bg-gray-50 ">
    <div class="mx-auto max-w-7xl py-12 sm:py-12 lg:flex lg:items-center lg:gap-x-10 lg:py-12">
      <div class="w-full lg:max-w-lg lg:flex-auto">
        <img src="<%= asset_path('banner/hero.png') %>" alt="" class="mt-10 aspect-[6/5] w-full rounded-2xl object-cover lg:aspect-auto lg:h-[34.5rem]">
      </div>
      <div class="mx-auto w-full max-w-2xl lg:mx-0 lg:flex-auto">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Your Needs, Our Commitment</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">We take pride in being your one-stop-shop for all your digital needs. Our comprehensive range of services covers everything from graphics design, Digital Marketing, web development, app creation, Maintenance and search engine optimization (SEO). We are committed to helping you establish a powerful and impactful online presence.</p>
        <div class="mt-10 flex items-center gap-x-6">
          <%= link_to service_index_path, class:"text-white bg-blue-800 hover:bg-secondary-900 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-full px-4 py-2.5 text-sm font-semibold text-center mr-3 md:mr-0" do %>Read More<%end%>
        </div>
      </div>
    </div>
</div>