<section class="bg-center bg-no-repeat bg-[url('<%= asset_path('banner/contact.jpg') %>')] bg-gray-700 bg-blend-multiply mt-16">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-16 lg:py-16">
    <div class="flex flex-col p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-100">donaiApps Services</h5>
    </div>
  </div>
</section>
<div class="relative isolate -z-10 bg-white">
  <div class="mx-auto w-full max-w-screen-xl p-4 pb-16 sm:mt-16">
    <div class="bg-white pb-24">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-7xl">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Explore Our Most Valued Services</h2>
          <p class="mt-2 text-lg leading-8 text-gray-600">Our approach is centered around understanding your unique business requirements and tailoring our solutions to suit your goals. We leverage the latest technologies, industry best practices, and creative thinking to deliver exceptional results.</p>
        </div>
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <article class="flex flex-col items-start justify-between">
            <div class="relative w-full">
              <img src="<%= asset_path('service/app.png') %>" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="max-w-xl">
              <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Web & Mobile Apps
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">From websites, mobile apps to desktop applications, our development team brings ideas to life. We create feature-rich and intuitive apps that meet the needs of modern businesses.</p>
              </div>
            </div>
          </article>

          <article class="flex flex-col items-start justify-between">
            <div class="relative w-full">
              <img src="<%= asset_path('service/graphics.png') %>" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="max-w-xl">
              <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Graphic Designing
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Our talented designers create captivating visual experiences that leave a lasting impression. From branding to marketing collateral, we bring brands to life through compelling graphic design.</p>
              </div>
            </div>
          </article>

          <article class="flex flex-col items-start justify-between">
            <div class="relative w-full">
              <img src="<%= asset_path('service/seo.png') %>" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
              <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
            </div>
            <div class="max-w-xl">
              <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Search Engine Optimization
                  </a>
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Our SEO experts employ data-driven strategies to boost online visibility, increase organic traffic, and help businesses climb the ranks in search engine results.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>    
  </div>
</div>
