<section class="bg-center bg-no-repeat bg-[url('<%= asset_path('banner/contact.jpg') %>')] bg-gray-700 bg-blend-multiply mt-16">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-16 lg:py-16">
    <div class="flex flex-col p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-100">Request a Quote</h5>
    </div>
  </div>
</section>
<div class="relative isolate -z-10 bg-white">
  <div class="mx-auto w-full max-w-screen-xl p-4 pb-16 sm:mt-16">
    <form>
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-16">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Help us get to realize you a little better</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Ship us a technical challenge and our specialists will put together an evaluation of your task within the shortest feasible time and with the maximum precision.</p>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
              <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Full Name</label>
              <div class="mt-2">
                <input type="text" name="name" id="name" autocomplete="name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="company_name" class="block text-sm font-medium leading-6 text-gray-900">Company Name</label>
              <div class="mt-2">
                <input type="text" name="company_name" id="company_name" autocomplete="company-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Company Email address</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="phone" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
              <div class="mt-2">
                <input id="phone" name="phone" type="text" autocomplete="phone" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="country" class="block text-sm font-medium leading-6 text-gray-900">Company Size</label>
              <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
                  <option>1-10</option>
                  <option>11-30</option>
                  <option>31-50</option>
                  <option>51+</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-3">
              <label for="industry" class="block text-sm font-medium leading-6 text-gray-900">Select business competition (Industry)</label>
              <div class="mt-2">
                <select id="industry" name="industry" autocomplete="industry" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
                  <option>E-commerce</option>
                  <option>Fintech Industry</option>
                  <option>Innovate health care</option>
                  <option>Non-profite</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-full sm:col-start-1">
              <label for="service" class="block text-sm font-medium leading-6 text-gray-900">Project Budget</label>
              <div class="mt-2">
                <select id="service" name="service" autocomplete="service" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
                  <option>Digital Marketing</option>
                  <option>WebSite Development</option>
                  <option>Mobile App Development</option>
                  <option>Graphic Design</option>
                  <option>Search Engine Optimization (SEO)</option>
                  <option>CMS</option>
                  <option>Others</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-2 sm:col-start-1">
              <label for="city" class="block text-sm font-medium leading-6 text-gray-900">Country</label>
              <div class="mt-2">
                <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
                  <option>Uganda</option>
                  <option>Kenya</option>
                  <option>Tanzania</option>
                  <option>Rwanda</option>
                </select>
              </div>
            </div>

            <div class="sm:col-span-2">
              <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
              <div class="mt-2">
                <input type="text" name="city" id="city" autocomplete="address-level1" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="sm:col-span-2">
              <label for="postal-code" class="block text-sm font-medium leading-6 text-gray-900">Address</label>
              <div class="mt-2">
                <input type="text" name="street-address" id="street-address" autocomplete="street-address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6">
              </div>
            </div>

            <div class="col-span-full">
              <label for="about" class="block text-sm font-medium leading-6 text-gray-900">About the Project</label>
              <div class="mt-2">
                <textarea id="about" name="about" rows="3" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-800 sm:text-sm sm:leading-6"></textarea>
              </div>
              <p class="mt-3 text-sm leading-6 text-gray-600">Write a few sentences about the project you are in need of.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="submit" class="rounded-full bg-blue-800 px-5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-secondary-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Request</button>
      </div>
    </form>
  </div>
</div>
