@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@import 'actiontext.css';

trix-editor ul {
  @apply list-disc list-inside;
}

trix-editor ol {
  @apply list-decimal list-inside;
}

.trix-content ul {
  @apply list-disc list-inside;
}

.trix-content ol {
  @apply list-decimal list-inside;
}

.btn {
  @apply bg-primary-900 px-9 py-3 rounded-full capitalize font-bold hover:opacity-80 ease-in duration-200;
}

.card_btn {
  @apply w-full px-9 py-3 bg-color-primary-dark rounded-md capitalize font-bold hover:bg-color-secondary ease-in duration-200;
}

.title {
  @apply text-3xl md:text-4xl font-bold leading-snug;
}

.blob1 {
  @apply w-80 h-80 bg-color-secondary absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.blob2 {
  @apply w-80 h-80 bg-primary-900 absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.parallax {
  background-image: url("<%= asset_path('banner/banner5.png') %>"); 
  height: 70vh;
}

.animate {
  animation: moveup 1s linear forwards;
}

.user-pic {
  transition: all 0.2s ease;
}

.user-pic.active-pic {
  border: 2px solid #ff7d3b;
}

@keyframes moveup {
  0% {
      margin-top: 40px;
      opacity: 0;
  }

  50% {
      margin-top: 20px;
      opacity: 0.1;
  }

  100% {
      margin-top: 0px;
      opacity: 1;
  }
}

.card {
  perspective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transition: all 0.4s ease;
}

.front {
  overflow: hidden;
}
